@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: rgb(255, 255, 255);
    }
}
@keyframes colour-change {
    0% {
      color: rgb(255, 255, 255);
      font-size: 50px;
    }
  
    50% {
      color: rgb(255, 0, 0);
      font-size: 55px;
    }
  
    100% {
      color: rgb(255, 255, 255);
      font-size: 50px;
    }
}

body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #FFFFFF; /* Цвет основного текста */ 
}
h1 {
    animation:colour-change 5s;
    font-size: 50px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h2 {
    animation:color-change 5s;
    font-size: 40px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h3 {
  animation:color-change 5s;
  font-size: 35px; /* Размер шрифта в пунктах */
  font-family: Georgia, serif; /* Семейство шрифтов */
}
p {
    animation:color-change 5s;
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: sans-serif, serif; /* Семейство шрифтов */
}
ul {
    animation:color-change 5s;
    font-size: 26px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}  